<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swap your footwear!</title>
    <!-- css files -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- javscript files -->
    <script type="text/javascript" src="../JS/myScript.js"></script>
    <link rel="icon" type="image/png" sizes="16x16"
          href="../Images/favicon-16x16.png">
</head>
<body id="grad">

<!-- Header of the main page -->
<% include partials/header.ejs %>

<!--User Links -->
<% if(isSession == true){ %>
    <% include partials/user-navigation-new.ejs %>
<% } %>
<% if(isSession == false){ %>
    <% include partials/user-navigation.ejs %>
<% } %>
<% if(isSession == undefined){ %>
    <% include partials/user-navigation.ejs %>
<% } %>

<!-- Site navigation options -->
<% include partials/site-navigation.ejs %>

<!-- Main page and breadcrumbs -->
<div class="col-xs-12 col-sm-10">
    <main>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My
                    Swaps
                </li>
            </ol>
        </nav>
        <section>
            <article>
                <h2>Chandni's Swap offers!!!</h2>
                <!-- Items table and their selection options -->
                <table class="table table-border table-hover">
                    <tr class="table_row table-warning">
                        <th>My Footwears</th>
                        <th>Swap Offer</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <% if(userItemData.length > 0) { %>
                        <% userItemData.forEach(function (element) { %>
                                <tr class="table_row">
                                    <td><a href=""> <%= element.userItem.itemName %></a></td>
                                    <td><a href=""><%= element.swapItem.itemName %></a></td>

                                    <%if(element.whoInitiated==='swapperInitiated'){%>
                                    <td>
                                        <form action="/myswaps?action=accept&theItem=<%= element.userItem.itemCode %>"
                                              method="post">
                                            <input type="hidden" value="<%= userItemData %>" name="itemList"
                                                   id="itemList">
                                            <input type="submit" class="btn btn-primary"
                                                   value="Accept" name="Accept"/>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/myswaps?action=reject&theItem=<%= element.userItem.itemCode %>"
                                              method="post">
                                            <input type="submit" class="btn btn-primary"
                                                   value="Reject" name="Reject"/>
                                        </form>
                                    </td>
                                    <%}%>
                                    <%if(element.whoInitiated==='userInitiated'){%>
                                        <td>
                                            <form action="/myswaps?action=withdraw&theItem=<%= element.userItem.itemCode %>"
                                                  method="post">
                                                <input type="hidden" value="<%= userItemData %>" name="itemList"
                                                       id="itemList">
                                                <input type="submit" class="btn btn-primary"
                                                       value="Withdraw" name="Withdraw"/>
                                            </form>
                                        </td>
                                        <td></td>
                                    <%}%>
                                </tr>
                        <% }) %>
                    <% } %>
                </table>
                <%if(userItemData.length==0){%>
                    <p>There are no items to display</p>
                <%}%>
            </article>
        </section>
    </main>
</div>
</div>
</div>


<!-- Footer of the website -->
<% include partials/footer.ejs %>

</body>
</html>